<h1>Sign Up</h1> 
    
  <div id="bg">
  <div class="module">
    <ul>
      <li class="tab activeTab"><img src="http://fc00.deviantart.net/fs71/f/2012/251/6/d/slendy_dance_icon_by_reitanna_seishin-d5e0izl.gif" alt="" class="icon"/></li>
      <li class="tab" ><img src="https://sevenbreaths.files.wordpress.com/2009/04/mail-icon-48x48.png" alt="" class="icon"/></li>
      <li class="tab" ><img src="http://findicons.com/files/icons/2282/pixelophilia/32/settings.png" alt="" class="icon"/></li>
      <li class="tab" ><img src="http://www.sherv.net/cm/emo/happy/thumbs-up.gif" alt="" class="icon"/></li>
    </ul>
    
    <form class="form">
      <input type="text" placeholder="First Name" class="textbox" />
      <input type="text" placeholder="Last Name" class="textbox" />
      <input type="text" placeholder="Email Address" class="textbox" />
      <input type="button" value="Next" class="button" />
    </form>
  </div>
</div>